extends layout

block content
  h1= title

  form(id='helicopterform', action="/resource/helicopters", method="POST")
    div.form-group
        label.costumeAttr(for='helicopterType') helicopter Type
        input#helicopterType(type='text', name='helicopterType')
    div.form-group
        label.costumeAttr(for='helicopterPrice') helicopter Price
        input#cost(type='number', name='helicopterPrice')
    div.form-group
        label.costumeAttr(for='helicopterColor') helicopter Color
        input#size(type='text', name='helicopterColor')

    input(type="submit")

  script.
    document.forms['helicopterform'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, { 
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });