body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.costumeAttr { 
  background-color:bisque; 
  width: 120px; 
 color: brown;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style: oblique;
 font-size: larger;

} 